{erl_opts, [debug_info]}.
{deps, [
    {erl_frame, {git, "https://github.com/vsoft237/erl-frame.git", {branch, master}}},
	gpb,
	jsx
]}.

{relx, [
	{release, {erl_example, "0.1.0"}, [		
		sasl,
		erl_tcp
	]},
    {sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},

	{dev_mode, true},
	{include_erts, false},

	{extended_start_script, true}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
